body{
    align-items: center;
    display: flex;
    justify-content: center;
    transform: scale(1);
}

img{
    width: 200px;
    height: 200px;
    animation-name: girando;
    animation-duration: 0.7s;
    animation-iteration-count: 4;
}

@keyframes girando {
    from {
        transform: rotate(0);
    }

    to {
      transform: rotate(1turn);
    }
  }